.github.ribbon {
	position: fixed;
	display: block;
	top: 40px;
	right: 0;
	border: 0;
}

.prettyprint {
	padding: 10px!important;
}

#home {
	padding-top: 60px;
}
#home h1{
	margin-bottom: 20px;
}
#demo,
#examples,
#support,
#download {
	padding-top: 40px;
}

